{% extends "base.html" %}
{% block content %}

<div class="entry dark">
	<img src = "/static/pandaRaincheckFinal.jpg"/>
</div>
<div class="postBottom">
Raincheck is an anti-social web application that helps disgruntled people by compiling what may become the world's most comprehensive library of crappy excuses. This is actually an application submitted to the Yahoo HackU competition, enjoy.
</div>

{% for excuse in excuses.object_list %}
	<div class="entry">
		<a href="#">{{excuse.text}}</a>
	</div>
{% endfor %}

<div class="entry">
	<span class="step-links">
		{% if excuses.has_previous %}
			<a href="?page={{ excuses.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ excuses.number }} of {{ excuses.paginator.num_pages }}.
		</span>

		{% if excuses.has_next %}
			<a href="?page={{ excuses.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>

{% endblock %}
{% block postcontent %}

{% endblock %}
