{% extends "base.html" %}
{% block content %}
<img>Insert image here </img>
<p> This project was designed as an entry to the 2010 Yahoo! HackU Competition. <i>RainCheck</i> is a web application that generates user calendar content from multiple integrated services including iCal and FB events. Users can select events that they do not wish to attend and our application will generate all events in the general area that will conflict with the time of this event. If the user is unlucky enough to have no returned conflicting events our program provides the option to generate user selected excuses ranging from work-related excuses to personal. Enjoy our application, and do not forget there is also a rating section to our program-- you can decide which excuses are the most convincing! </p>
{% endblock %}
