{% extends "base.html" %}
{% block content %}

<div class="entry dark">
	<img src = "/static/pandaRaincheckFinal.jpg"/>
</div>
<div class="postBottom">
<p> <i>RainCheck</i> is a scheduling and "social avoidance" application which integrates Google Calendar with Facebook Events to provide the optimal excuse for why you aren't going to that event you'd rather miss. In the unfortunate case your schedule shows no direct conflict with the event to be avoided, <i>RainCheck</i> equips you with a hefty array of excuses ranked and submitted by other users. </p>

<p>This project was designed as an entry to the 2010 Yahoo! HackU Competition.</p>
</div>
<br/>
<br/>
<div class="clear"></div>
{% for excuse in excuses.object_list %}
	<div class="entry">
	<center><a href="{{excuse.get_permalink}}" style="text-shadow: 0px 0px 0px #E41E19 !important;">{{excuse.text}}</a></center> <br/>
			</div><div class="postBottom">
<a class = "alt" style="margin-right: 2.5em; font-size:12px; text-shadow:0 !important;" href="/excuse/{{excuse.pk}}/like">Like({{excuse.get_liked}})</a><a href="/excuse/{{excuse.pk}}/dislike" style="font-size:12px; color:#E41E19 !important;text-shadow: 0px 0px 6px #E41E19 !important;">Dislike({{excuse.get_disliked}})</a>
</div>
<div class="clear"></div>
{% endfor %}
	<span class="step-links">
		{% if excuses.has_previous %}
			<a href="?page={{ excuses.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ excuses.number }} of {{ excuses.paginator.num_pages }}.
		</span>

		{% if excuses.has_next %}
			<a href="?page={{ excuses.next_page_number }}">next</a>
		{% endif %}
	</span>

{% endblock %}
{% block postcontent %}

{% endblock %}
