
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
<head> 
    
    <title>Access my Google Calendar</title> 
      <link rel="stylesheet" type="text/css" href="https://playfoursquare.s3.amazonaws.com/static/styles/foursquare-5bf626dbe124159667b48ff8bf8d0347.css" /> 
      
</head> 
<body> 



        
        <div style="align:center" id="content"> 
          
  
  <div class="mainColumn" id="login"> 
    <form action="/Gauth/" method="post">
    	{% csrf_token %}
      <h2>Log in to access your Google Calendar</h2> 
      
      <div class="section"> 
        <label>Gmail/Google Account</label> 
        <input value="" name="gmail" type="text" tabindex="1" /> 
      </div> 
      
      <div class="section"> 
        <label>Password</label> 
        <input tabindex="2" name="password" type="password" />
      </div> 
      
      <input value="Get My Calendar" class="green_button big_button" type="submit" /> 
    </form>  
    
        </div>
      </div> 
  </body> 
</html>  
  